#main{
	width:644px;
	margin:50px auto 0;
	margin-bottom:110px;
}
.my_photo{
	float:left;
	width:234px;
	height:280px;
	margin-right:28px;
	position:relative;
}
.my_photo img{
	position:absolute;
	top:50%;
	margin-top:-50%;
}
.description{
	float:left;
	width:382px;
}
.description p{
	text-align:justify;
	font-family:'Roboto Condensed';
	color:#676767;
	margin-bottom:25px;
}
.description p.last{
	margin-bottom:0;
}
