html,body,div,p,h1,h2,ul,ol,table,thead,tbody,tfoot,tr,th,td,header,nav,footer,aside,section,iframe,fieldset{
	margin:0;
	padding:0;
}
html,body{
	font-family:Asap, sans-serif, arial;
	height:100%;
}
div,p,h1,h2,h3,h4,h5,h6,span{
	font-size:14px;
	line-height:150%;
}
li{
	list-style-type:none;
}
img{
	border:0 none;
}
a{
	text-decoration:none;
	outline:none;
}
@font-face {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 400;
  src: local('Asap'), local('Asap-Regular'), url(/font/Asap_regular.woff) format('woff');
}
@font-face{
	font-family:'Roboto';
	font-style:normal;
	font-weight:400;
	src: local( 'Roboto' ), local( 'Roboto-Black'), url(/font/Roboto-Black.ttf) format('truetype');
}
